main.container-fluid {
	max-width: none;
}

.chart-shell {
	width: fit-content;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.chart-card {
	display: inline-block;
	width: fit-content;
	max-width: 100%;
}

.chart-card .ratio {
	width: min(1400px, 92vw);
}

.chart-width {
	width: min(1400px, 92vw);
}

#highlightBots {
	min-height: 12rem;
}
