main.container-fluid {
	max-width: none;
}

.chart-shell {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.chart-inputs {
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
}

.chart-card {
	display: block;
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
}

.chart-card .ratio {
	width: 100%;
	--bs-aspect-ratio: 70vh;
}

#highlightBots {
	min-height: 12rem;
}
